<div class="master-details-view content-info">
    <div class="master serial">
        <ul class="list-view vertical caption-text">
            <li class="list-view-item serial">
                &copy;
                <a href="https://tsumasakidachi.com/" class="nav-highlight">tsumasakidachi</a>
            </li>
            <li class="list-view-item serial">
                <a href="https://twitter.com/tsmskdch" class="nav-highlight">twitter</a>
            </li>
            <li class="list-view-item serial">
                <a href="https://github.com/tsumasakidachi" class="nav-highlight">github</a>
            </li>
        </ul>
    </div>
    <div class="details serial">
        <ul class="list-view vertical caption-text">
            <li class="list-view-item serial">
                <NavLink href="use-conditions" class="nav-highlight">契約前に物件の<span class="accent">使用条件</span>を確認してください。</NavLink>
            </li>
        </ul>
    </div>
</div>

@code {

}
