@page "/use-conditions"
@using Tsumasakidachi.Estates.Components
@inject IJSRuntime JSRuntime

<header class="top-nav-bar topic">
    <div class="logo dark separation">
        <div class="outer">
            <h1>
                <NavLink href="" class="nav-highlight top-nav-button">
                    <img src="image/tsumazaki-estate.1x.png"
                         srcset="image/tsumazaki-estate.1x.png, /image/tsumazaki-estate.2x.png 2x"
                         width="144"
                         height="20"
                         alt="妻崎地所" />
                </NavLink>
            </h1>
        </div>
    </div>
</header>
<main class="content topic">
    <div class="outer">
        <div class="master-details-view use-condition topic">
            <div class="master">
                <h2 class="heading-text letterpress">使用条件</h2>
                <p class="subheading-text letterpress">2020.2.1</p>
            </div>
        </div>
        <section class="topic">
            <div class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="title-text letterpress">賃貸</h1>
                </div>
            </div>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">専有事項</h1>
                </div>
                <div class="details">
                    <p class="letterpress">物件の一部の空間を予め定める期間内において専有できます。契約期間を満了する時、または妻崎地所の都合 (建物の改築、賃貸サービスの終了等) により当該空間を利用できなくなる時は退去する必要があります。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">改築</h1>
                </div>
                <div class="details">
                    <p class="letterpress">壁、床、天井は、同じ人が専有する空間同士を隔てる物に限り改築できます。それ以外のコア部や廊下等の共有部及び建物の外部空間に接する物は改築できません。柱はいかなる場合も改築できません。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">原状回復</h1>
                </div>
                <div class="details">
                    <p class="letterpress">退去する前に改築した箇所を元に戻す必要があります。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">譲渡</h1>
                </div>
                <div class="details">
                    <p class="letterpress">他人に譲渡できません。</p>
                </div>
            </section>
        </section>
        <section class="topic">
            <div class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="title-text letterpress">分譲</h1>
                </div>
            </div>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">専有事項</h1>
                </div>
                <div class="details">
                    <p class="letterpress">物件の一部の空間を期間の定め無く専有できます。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">改築</h1>
                </div>
                <div class="details">
                    <p class="letterpress">壁、床、天井は、同じ人が専有する空間同士を隔てる物に限り改築できます。それ以外のコア部や廊下等の共有部及び建物の外部空間に接する物は改築できません。柱はいかなる場合も改築できません。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">譲渡</h1>
                </div>
                <div class="details">
                    <p class="letterpress">内装を付け加える等改築した場合に限り他人に譲渡できます。譲渡された人は本条件を守る必要があります。</p>
                </div>
            </section>
        </section>
        <section class="topic">
            <div class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="title-text letterpress">棟売り</h1>
                </div>
            </div>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">専有事項</h1>
                </div>
                <div class="details">
                    <p class="letterpress">物件の全ての権利を妻崎地所から契約者に移転します。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">改築</h1>
                </div>
                <div class="details">
                    <p class="letterpress">全て自由ですが、地区の景観条例の制約を受ける建物では外装は改築できない場合があります。</p>
                </div>
            </section>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">譲渡</h1>
                </div>
                <div class="details">
                    <p class="letterpress">無条件で他人に譲渡できます。</p>
                </div>
            </section>
        </section>
        <section class="topic">
            <div class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subtitle-text letterpress">更新履歴</h1>
                </div>
            </div>
            <section class="master-details-view use-condition letterpress">
                <div class="master">
                    <h1 class="subheading-text letterpress">2020.2.1</h1>
                </div>
                <div class="details">
                    <p class="letterpress">初版</p>
                </div>
            </section>
        </section>
    </div>
</main>
<footer class="bottom-nav-bar topic">
    <div class="outer">
        <ContentInfo />
    </div>
</footer>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setTitle", "妻崎地所 使用条件");
        }
    }
}
